{% extends "base.html" %}

{% block hed %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/carousel.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <!-- Индикаторы -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            {% for n in range(ln) %}
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="{{n + 1}}"
                    aria-label="Slide {{n + 2}}"></button>
            {% endfor %}
        </div>

        <!-- Слайды -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/male_ast.jpg" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>А всё потому что</h5>
                    <p>понабирают всяких...</p>
                </div>
            </div>
            {% for image in images %}
            <div class="carousel-item">
                <img src="/static/save_img/{{ image }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Кнопки управления -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</div>

<!-- Подключаем Bootstrap JS и зависимости -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<div>
    <form class="login_form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="photo">Приложите фотографию</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
        <p>
            <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}